[column]
        ui = auto
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[init]
        defaultBranch = main
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[push]
        default = simple
        autoSetupRemote = true
        followTags = true
[fetch]
        prune = true
        pruneTags = true
        all = true

[help]
        autocorrect = prompt
[commit]
        verbose = true
[rerere]
        enabled = true
        autoupdate = true
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true

[alias]
    lol = log --oneline --graph
    lola = log --oneline --graph --all
    st = status
    co = checkout
    c = commit
    cp = cherry-pick
    a = add
    b = branch
    br = branch
    f = fetch
[pager]
    branch = false

# Configure mergiraf as the default merge-driver
[merge "mergiraf"]
    name = mergiraf
    driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P
[core]
    attributesfile = ~/.gitattributes

# Configure difft as the default diff tool
[diff]
    external = difft
